$a-autocomplete-transition-duration: .5s;
$a-autocomplete-transition: opacity $a-autocomplete-transition-duration;

$a-autocomplete-input-border-color: grey;
$a-autocomplete-input-border: 1px solid $a-autocomplete-input-border-color;
